<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.UserMapper">

    <!--根据id查询用户-->
    <select id="FindUserById" parameterType="int" resultType="user">
         select  * from user where  id = #{id}
    </select>

    <!--登录-->
    <select id="login" parameterType="String" resultType="user">
        select * from user where username=#{username}
    </select>

    <!--增加用户-->
    <insert id="AddUser" parameterType="user">
        insert  into user(username,password) values (#{username},#{password})
    </insert>

    <!--修改用户-->
    <update id="UpdateUserById" parameterType="user">
        update  user  set username =#{username} ,password=#{password} where id = #{id}
    </update>

    <!--删除用户-->
    <delete id="DeleteUserById" parameterType="int">
         delete from user where id=#{id}
    </delete>

</mapper>